* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.slider {
    position: relative;
}

.slider .images {
    height: 600px;
}

.slider .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .4s;
    transition: opacity .4s;
}

.slider:hover .prev,
.slider:hover .next,
.slider:hover .nav {
    opacity: 1;
}

.prev {
    left: 16px;
}

.next {
    right: 16px;
}

.prev:hover, .next:hover {
    background: #000;
}

.nav {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 30px;
    background: rgba(0, 0, 0, .6);
    border-radius: 25px;
    transition: opacity .4s;
}

.nav i {
    color: rgba(255, 255, 255, .4);
    cursor: pointer;
    transition: color .4s;
}

.nav i:hover {
    color: #fff;
}

.nav i.active {
    color: dodgerblue;
}